{% extends "base.html" %}

{% block content %}

<div class="card p-4">

    <!-- HEADER -->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4>Inventory Status</h4>
        <input type="text" id="searchStock" class="form-control w-25" placeholder="Search medicine...">
    </div>

    <!-- TABLE -->
    <table class="table table-hover" id="stockTable">
        <thead>
            <tr>
                <th>Medicine</th>
                <th>Batch</th>
                <th>MRP</th>
                <th>PTR</th>
                <th>Expiry</th>
                <th>Qty</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>
        {% for item in stock %}
        <tr>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
            <td>₹ {{ item[2] }}</td>
            <td>{{ item[3] }}</td>
            <td>{{ item[4] }}</td>

            <td>
                <strong>{{ item[5] }}</strong>
            </td>

            <td>
                {% if item[6] == "Expired" %}
                    <span class="badge bg-danger">Expired</span>
                {% elif item[6] == "Low Stock" %}
                    <span class="badge bg-warning text-dark">Low</span>
                {% else %}
                    <span class="badge bg-success">In Stock</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>

    </table>

</div>

<script>
document.getElementById("searchStock").addEventListener("keyup", function() {
    let value = this.value.toLowerCase();
    let rows = document.querySelectorAll("#stockTable tbody tr");

    rows.forEach(row => {
        let medicine = row.children[0].innerText.toLowerCase();
        row.style.display = medicine.includes(value) ? "" : "none";
    });
});
</script>

{% endblock %}